body {
  background-color: black;
  text-align: center;
  font-family: Verdana, sans-serif;
}
h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

h2  {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

.coming {
  color: aquamarine;
  font-size: 16px;
}

.ex {
  text-align: right;
  color: gray;
}

.travel {
  font-weight: 300;
  font-size: 42px;
}

.gray {
  font-size: 21px;
  color: grey;
}
